.europe {
    background-color: #ffffff;
    box-shadow: 0 0 5px
}

.frazierGroup {
    background-color: #ffffff;
    box-shadow: 0 0 5px
}

.KBH {
    background-color: #ffffff;
    box-shadow: 0 0 5px
}