.title{
    background-color:#ffffff;
    box-shadow: 0 0 2px;
    padding-right: 0px;
    padding-left: 0px
}

h3 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: black; 
}

h5 {
    font-family: 'Open Sans', sans-serif;
}

.card {
    margin-bottom: 5%;
    box-shadow: 0 0 5px; 
}
.card-img-top {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}